################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestApi/.vs/TestApi
/TestApi/TestApi/bin/Debug/net8.0
/TestApi/TestApi/obj
/TestApi/TestApi/obj/Debug/net8.0/TestApi.AssemblyInfo.cs
/TestApi/TestApi/obj/Debug/net8.0/TestApi.AssemblyInfoInputs.cache
